version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: dockerfile
    container_name: rate_limiting_server
    ports:
      - "8000:8000"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis
    restart: always
  redis:
    image: redis:7.2
    container_name: my_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
