version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rate_limiting_server
    ports:
      - "${APP_PORT}:8000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: always
    volumes:
      - ./app:/app/app # bind mount, avoid in production env
  redis:
    image: redis:7.2
    container_name: redis_server
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/var/lib/redis/data
    restart: always
volumes:
  redis_data:
